// bases
$default-font-size: 14px;
$default-font:'Poppins', sans-serif;
// texte
$h-priority-1-size: 2.5rem;
$h-priority-1-color: #222222;

$h-priority-2-size: 1.7rem;
$h-priority-2-color: #000;


$h-priority-3-size: 1.3rem;
$h-priority-3-color:rgb(108, 108, 108);

$h-priority-4-size: 1.5rem;
$h-priority-4-color: #000;


$h-priority-all: 700;
$h-priority-1-weight: 600;
$h-priority-2-weight: 500;




$p-proority-1-size: 1rem;
$p-proority-1-color: #777777;
$p-proority-2-size: 2rem;
$p-proority-2-color: #000;
$p-proority-3-size: 2rem;
$p-proority-3-color: #000;

// Colors gradient
$color-left: #8490ff;
$color-right: #62bdfc;

$bg-color-left: #8490ff;
$bg-color-right: #62bdfc;


// colors
$links-color: #8490ff;
$background-color: #FAF9FF;
$background-contrast: #FFF;
$btn-color: #FFF;
$page-selector-color: #8490FF;

// Buttons
$btn-color: #FFF;
$btn-cap: uppercase;
$btn-weight: 300;




